* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F3F3;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.backpack {
    width: 200px;
    height: 200px;
    background-image: url(./images/Children\ preparing\ their\ backpack-amico\ \(1\).svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.add {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.add label {
    flex-basis: 100%;
}

.add input[type="text"],
.add input[type="number"] {
    flex-basis: 100%;
    border: none;
    padding: 10px;
    background-color: #FDFDFD;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}

.add input[type="submit"] {
    font-size: .8rem;
    border: none;
    padding: 12px;
    background-color: #0099FF;
    color: #FDFDFD;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;


}

.add input[type="submit"]:hover {
    background-color: #0077CC;
}

.list {
    list-style: none;
}

.item {
    display: flex;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0.6em 2em;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0 0 1em ;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    font-size: 20px;
    
}

.item strong {
    color: #FEFEFE;
    font-weight: 400;
    font-size: 1.2em;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    Background: #1a98f3;
}

.delete-button {
    background-color: #7094ad;
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    font-size: 1.2em;
    border-radius: 50%;
    cursor: pointer;
}
